{% extends 'layouts/base.html' %} {% block content %}
<h1 class="mb-4">Recuperar senha</h1>

<form action="/recuperar_senha" method="post">
  <div class="mb-3">
    <label for="email" class="form-label">E-mail</label>
    <input type="email" class="form-control" name="email" id="email" value="{{ email }}" autofocus required />
  </div>

  <div class="mb-3">
    <label for="senha" class="form-label">Nome do convidado</label>
    <input type="text" class="form-control" name="nome" id="nome" value="{{ nome }}" required />
  </div>
  
  <div class="mb-3">
    <label for="senha" class="form-label">Nova senha</label>
    <input type="password" class="form-control" name="senha" id="senha" required />
  </div>

  <button type="submit" class="btn btn-success btn-lg mt-4">Login</button>
</form>
{% endblock %}
